/** 
 * A very basic CSS reset:
 * More about CSS resets: https://meyerweb.com/eric/tools/css/reset/
 */
:root {
  --background-color: #0F1014;
  --card-text: #E3DBCF;
  --border-color: #BAB1A5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background:var(--background-color);
}

h1 {
  font-size: 64px;
  line-height: 60px;
}

h2 {
  font-size: 36px;
  line-height: 60px;
}

h3 {
   font-size: 24px;
   line-height: 32px;
}

h1, h2, h3 {
  line-height: normal;
  color: var(--card-text);
}

.page-heading {
  display: flex;
  align-items: center;
  gap: 32px;
}

.center-screen{
  position: relative;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.page-heading hr {
  flex: 1;
  border: none;
  border-top: 2px solid var(--border-color);
  margin: 0;
}

.outline {
  position: absolute;
  top: 0;
  left: 0;
}

.line hr {
  border: none;
  height: 1px; 
  background-color: var(--border-color); 
  margin: 0; 
}

.glass-info {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

ul {
  list-style: none;
}

ul.ingredients li{
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: var(--card-text);
  margin-right: 8px;
}

ul.ingredients li:not(:last-child)::after{
  content: "|";
  margin-left: 8px;
  color: var(--border-color);
}

.card {
  margin: auto;
  width: 360px;
  color: var(--card-text);
  border-radius: 16px;
  overflow: visible;
}

.card.favorite-card{
  margin: 32px auto 0 auto;
}

.card .drink-description{
  display: flex;
  flex-direction: column;
  padding: 20px 12px;
  gap: 12px;
  border: 1px solid var(--border-color);
  border-radius: 16px;
}

/** 
 * Just some styling to make the card visible.
 * Feel free to change this!
 */

 .card-next-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px; /* відстань між карткою і кнопкою */
}

.main-image{
  position: relative;
  width: 100%;
;}

.main-image img {
  width: 100%;
  display: block;
  position: relative;

  -webkit-mask-image: url("assets/mask.svg"); 
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  mask-image: url("assets/mask.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;

  object-fit: cover;
}

.main-image-container {
  position: relative;
  width: 100%;
}

.main-image{
  width: 100%;
}

.like-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  padding: 14px 14px 10px 14px;
  background-size: 24px 24px;
  border-radius: 12px;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease;
  z-index: 10;
}

.next-button, .back-button {
  border: 1px solid var(--border-color);
  padding: 14px 14px 10px 14px;
  background-size: 24px 24px;
  border-radius: 12px;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease;
  z-index: 2;
}



.like-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.next-button:hover{
  background: rgba(255, 255, 255, 0.1);
}

.back-button:hover{
  background: rgba(255, 255, 255, 0.1);
}

.secondary:hover{
  background: rgba(255, 255, 255, 0.1);
}


.material-symbols-outlined {
  color: var(--card-text);
  transition: all 0.3s ease;
}

.like-button.liked .material-symbols-outlined {
  color: #fff;
  font-variation-settings: 'FILL' 1;
}

.like-button .material-symbols-outlined {
  font-variation-settings: 'FILL' 0;
}

.material-symbols-outlined.button{
  padding: 4px 4px 0 4px;
}


button.secondary {
  display: flex;
  align-items: center;
  position: absolute;
  gap:12px;
  top: 32px;
  left: 32px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  padding: 16px 24px;
  border-radius: 12px;
  color: var(--card-text);
}

.favorites-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.favorites-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 20px;
  margin-top: 20px;
}